@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #555;
}
.wrapper{
    font: bold 3rem 'Josefin Slab', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
    margin: 0 auto;
}

header{
    color: white;
    text-shadow: 5px 5px 5px black;
    width: 100%;
    background: url(../img/header.jpeg);
    background-position: center;
    background-size: cover;
    padding: 10px;
}

main{
    padding: 5px;
    overflow: hidden;
}

.col{
    width:100%;
    float: none;
    padding: 
}

.col li{
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 5px 0;
}

.col img{
    max-width: 90%;
}

footer{
    font-size: 1.6rem;
    padding: 20px 40px;
    border-top: solid 0.16rem;
}
@media screen and (min-width: 600px){
    main{
        padding-top: 15px;
    }
    .col{
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 1200px){
    .col{
        width: 25%;
    }
}